.color-title {
    color:#0E3E7C
}

.object-responsive {
    max-width: 100%;
    height: auto;
}

.icono-star {
    color: #D4C03E;
    margin: 0;
    display:inline-block;
    height: 18px;
    float:none; 
}

.icono-amenities {
    color: black;
    margin: 0;
    display:inline-block;
    height: 18px;
    float:none;
}

.moneda {
    color :#ED8216;
    font-size: large; 
    text-align: center;
}

.price {
    color :#ED8216;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.etiqueta {
    color : gray;
    text-align: center;
}

.boton {
    color: white;
    text-align: center;
    background:#0E3E7C
}
