
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span>{{filtros}}</span>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#ac1">
      <div class="card-body">
          <div id="ac1">
            <div class="card">
              <div class="card-header" id="head1">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#c1" aria-expanded="true">
                    <div class="object-responsive">
                      <img class="icono-star" src="{{iconoSearch}}"  />  
                      {{nombreHotel}}
                    </div>
                  </button>
                </h5>
              </div>
            
              <div id="c1" class="collapse hide" aria-labelledby="head1" data-parent="#accordion">
                <div class="card-body">
                    <form class="form-inline">
                      <div class="form-group mb-2">
                        <input [(ngModel)]="data.name" type="text" [ngModelOptions]="{standalone: true}" class="form-control object-responsive" ctrl="ngModel" >
                      </div>
                      <button (click)="filtrar()" class="btn btn-primary mb-2 color-title">{{aceptar}}</button>
                    </form>
                </div>
              </div>
            </div>
          </div>

            <div id="ac2">
              <div class="card">
                <div class="card-header" id="head2">
                  
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" 
                            data-target="#c2" aria-expanded="true" >
                            <img class="icono-star" src="{{iconoStar}}"  />
                      {{estrellaLabel}}
                    </button>
                  </h5>
                </div>
              
                <div id="c2" class="collapse hide" aria-labelledby="head2" data-parent="#accordion">
                  <div class="card-body">
                    <div class="form-check" *ngFor="let item of estrellas">
                      <input type="checkbox" class="form-check-input" [value]="item.value"
                              [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"  (change)="controlSelector(item)"
                              type="checkbox" id="{{item.id}}">
                      <label class="form-check-label" for="{{item.id}}">
                          <span [hidden]="!item.isNumber" *ngFor="let star of getStarts(item.stars)">
                              <img class="icono-star" src="{{star}}"  />
                          </span>
                          <span [hidden]="item.isNumber" >{{item.stars}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>