.icono-star {
    color: #D4C03E;
    margin: 0;
    display:inline-block;
    height: 18px;
    float:none; 
}

.color-title {
    color : white;
    background:#0E3E7C;
}

.object-responsive {
    max-width: 100%;
    height: auto;
}

.flechaAbajo {
    width:0px;
    height:0px;
    border-style: solid;
    border-width: 10px;
    border-bottom-width:0px;
    border-color: #0E3E7C transparent transparent transparent;
}