<!--The content below is only a placeholder and can be replaced.-->
  <div class="card">
    <div class="card-header color-head">
      <img src="./assets/images/logo-almundo.svg" class="object-responsive">
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm col-sm-4" >
              <app-menu (salida)="showData($event)" ></app-menu>
            </div>
            <div class="col-sm col-sm-8">
                <app-hoteles 
                  [hoteles]='hoteles' 
                ></app-hoteles>
            </div>
        </div>
        
    </div>
  </div>

  

 


